body {
  color: #5a5a5a;
  background-color: #075AAB;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #becbff;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}

h1 {
  color: white;
  text-shadow: 3px 3px 10px black;
}

a {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}
.hero {
  width: 100%;
}
.logo {
  height: 5rem;
  width: 5rem;
}
.section-heading {
  font-size: 3.3em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-subheading {
  color: white;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}
.copyright-text {
  color: #becbff;
}
.options-div {
  margin: auto;
  max-width: 30%;
  text-align: center;
}
.options-block {
  padding-left: 5rem;
  text-align: center;
}
.option {
  color: white;
  font-size: 1.2rem;
/*  text-align: left;*/
  text-shadow: 1px 1px 5px black;
 /* width: 20rem;*/
}
.active-icon {
  height: 2rem;
  opacity: 0;
  width: 2rem;
}
footer {
  padding-bottom: 0rem;
  padding-top: 1rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}
